*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, san-serif;
    font-weight: normal;
}

body{
    padding: 0;
    margin: 0;
    text-align: center;
}

.gradient-background {
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

h1{
    font-weight: 700;
    
}

.drum-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: minmax(120px, auto) repeat(3, 100px);
}

.drum-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid black;
    outline: none;
    background-color: tomato;
}

.flash{
    box-shadow: 0 3px 4px 0 #DBEDF3;
    color: blue;
    background-color: gray !important;
    font-size: 3rem;
}
